@font-face {
  font-family: 'Segoe UI', sans-serif;
  src: url('../fonts/Segoe/Segoe.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Segoe UI', sans-serif;
  src: url('../fonts/Segoe/Segoe_Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}