:root {
    /* colors   */
    --main-bg-color: rgba(103, 37, 168, 1);
    --input-bg-color: rgba(255, 255, 255, 0.2);
    --cart-bg-color: rgba(246, 246, 250, 1);
    --buttons-bg-color: rgba(203, 17, 171, 1);
    --green-text-color: rgba(12, 180, 119, 1);
    --grey-text-color: rgba(151, 151, 175, 1);
    --badge-bg-color: rgba(245, 81, 35, 1);
    --invalid-text-color: rgba(245, 81, 35, 1);
    --stock-text-color: rgba(255, 59, 48, 1);

    --pencil-bg-color: rgb(203, 17, 171);

    --transp-border-color: rgba(0, 0, 0, 0.2);
    --transp-border-pink: rgba(203, 17, 171, 0.2);
    --transp-border-pink-015: rgba(203, 17, 171, 0.15);
    --trans-border-green: rgba(12, 180, 119, 0.2);
    --trans-border-black: rgba(0, 0, 0, 0.1);
    --trans-modal-back: rgba(5, 0, 10, 0.3);


    /* heights */
    --common-heigth-16: 1.6rem;
    --common-heigth-24: 2.4rem;
    --common-heigth-32: 3.2rem;

    /* fonts */
    --font-size-28: 2.8rem;
    --font-size-24: 2.4rem;
    --font-size-23: 2.3rem;
    --font-size-20: 2.0rem;
    --font-size-16: 1.6rem;
    --font-size-18: 1.8rem;
    --font-size-13: 1.3rem;
    --font-size-12: 1.2rem;

    /* line heights */
    --line-heigth-32: 3.2rem;
    --line-heigth-28: 2.8rem;
    --line-heigth-24: 2.4rem;
    --line-heigth-18: 1.8rem;
    --line-heigth-16: 1.6rem;
    --line-heigth-14: 1.4rem;

    /* paddings */
    --common-cart-padding: 2.4rem;

    /* margins */
    --cart-margin-24: 2.4rem;
    --cart-margin-16: 1.6rem;

}